<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="Food_Order-Mapper">
  
	<select id="selectFood_OrderList" resultType="food_order">
		select * from food_order
	</select>
	
	<select id="selectFood_OrderById" resultType="food_order">
		select * from food_order
		where user_id=#{user_id}
	</select>
	
	<insert id="insertFood_Order" parameterType="food_order">
		insert into
		food_order(order_menu, order_price, user_id, restunt_id, order_time)
		values(#{order_menu}, #{order_price}, #{user_id}, #{restunt_id}, #{order_time})
	</insert>
	<update id="updateFood_Order" parameterType="food_order">
		update food_order
		set
		order_menu=#{order_menu},order_price=#{order_price}, restunt_id=#{restunt_id}, order_time=#{order_time}
		where user_id=#{user_id}
	</update>
	<delete id="deleteFood_Order" parameterType="str">
		delete from food_order
		where user_id=#{user_id}
	</delete>
</mapper>

<!-- 

order_time, 
#{order_time}, 
order_time=#{order_time}, 

 -->
